@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lemon Tuesday";
    src: url("../fonts/Lemon Tuesday.otf");
    font-weight: normal;
    font-style: normal;
}
