// ! header
$headerIcon: #84c604;
$headerHover: #84c604;
// ! slider
$sliderTitle: #84c604;
$sliderButtonBcg: #fd4f10;
// ! main
$titleColor: #32505a;
$mainSlickDots: #b3b3b3;
$newBtn: #fd4f10;
//  ! reason-blog
$reasonTxt: #636363;
// ! feedback-blog
$feedbackTitle: #406a97;
// ! form
$formBtn: #fd4f10;
// ! footer
$footerBcg: #1a2d34;
$footerTxt: #608896;
$footerIconBcg: #8d969a;
$footerBorder: #20353d;
// ! fonts
$OpenSans: "OpenSans";
$RobotoSlab: "RobotoSlab";
$LemonTuesday: "Lemon Tuesday";
