@media only screen and (max-width: 950px) {
    .footer {
        &__bottom-body {
            padding: 0px 20px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        &__bottom-accept {
            flex: 0 0 45%;
        }
    }
}

@media only screen and (max-width: 625px) {
    .footer {
        &__bottom-accept {
            flex: 0 0 30%;
        }
    }
}

@media only screen and (max-width: 590px) {
    .footer {
        margin-top: 73px;
        &__bottom-body {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__bottom-icons {
            order: 1;
            margin-bottom: 45px;
        }
        &__bottom-accept {
            text-align: center;
            order: 2;
            margin-bottom: 40px;
        }
        &__bottom-name {
            order: 3;
        }
    }
}
