@media only screen and (max-width: 1100px) {
    .main {
        &__feedback-item {
            padding: 0px 30px;
        }
    }
}

@media only screen and (max-width: 940px) {
    .feedback-none {
        display: none;
    }
    .main {
        &__feedback-item {
            &:nth-last-child(2) {
                margin-right: 0px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main {
        &__feedback-body {
            flex-direction: column;
        }
        &__feedback-item {
            margin-right: 0px;
            margin-bottom: 40px;
            &:nth-last-child(2) {
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (max-width: 372px) {
    .main {
        &__feedback-title {
            img {
                display: none;
            }
        }
    }
}
